html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.locationsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}