html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.locationsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.App {

    &_creditsbutton {
        border: 1px solid black;
        display: inline-block;
        padding: 0 10px;
        border-radius: 10px;
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:hover {
            cursor: pointer;
            background-color: lightgray;
        }
    }
}